<main class="flex flex-col items-center pt-[8%]">
    <Heading class="mb-[2rem]">Register</Heading>
    <form [formGroup]="registerForm" class="grid w-[15rem] auto-rows-auto gap-[0.2rem]" (submit)="Register($event)">
        <label class="text-white mb-1" for="first-name-field">First Name:</label>
        <FormInput formControlName="FirstName"/>
        <label class="text-white mb-1" for="last-name-field">Last Name:</label>
        <FormInput formControlName="LastName"/>
        <label class="text-white mb-1" for="email-field">Email:</label>
        <FormInput formControlName="Email"/>
        <label class="text-white mb-1" for="password-field">Password:</label>
        <FormInput type="password" formControlName="Password"/>
        <div class="flex mt-4">
            <div class="w-full flex justify-center">
                <MainButton [disabled]="!registerForm.valid">Register</MainButton>
            </div>
            <div class="w-full flex justify-center">
                <SecondaryButton (Click)="GoToLoginPage()">Cancel</SecondaryButton>
            </div>
        </div>
    </form>
    @if(!registerForm.valid && (registerForm.dirty || registerForm.touched)) {
        <div class="w-[15rem] border rounded border-red-600 bg-red-200 p-1 pr-2 pl-6 mt-4">
            @if(this.registerForm.controls.Password.errors?.["hasCapital"] === false) {
                <li class="text-red-600">Password needs to contain a capital letter.</li>
            }
            @if(this.registerForm.controls.Password.errors?.["hasNumber"] === false) {
                <li class="text-red-600">Password needs to contain a number.</li>
            }
            @if(this.registerForm.controls.Password.errors?.["hasSymbol"] === false) {
                <li class="text-red-600">Password needs to contain a symbol.</li>
            }
            @if(this.registerForm.controls.Password.errors?.["minlength"]) {
                <li class="text-red-600">Password too short.</li>
            }
            @if(this.registerForm.controls.Email.errors?.["emailAvailable"] === false) {
                <li class="text-red-600">Email already taken.</li>
            }
            @if(this.registerForm.controls.Email.errors?.["email"]) {
                <li class="text-red-600">Email address is not valid.</li>
            }
        </div>
    }
</main>