<div class="grid gap-y-2">
    @for (day of hours.keys(); track day) {
        <div class="flex flex-wrap gap-1 gap-y-2 items-center">
            <span class="pr-1 flex">{{GetDayString(day)}}:</span> 
            @if (hours.get(day) && hours.get(day)!.length) {
                @for(hour of hours.get(day); track hour.id) {
                    <span class="text-[14px] text-goldenDark bg-[#2A2A2A] p-1 pl-2 pr-2 rounded shadow-[2px_2px_4px_-1px_#111111]">
                        @if (hour.intervalStart === hour.intervalEnd) {
                            Open 24 hours
                        } @else {
                            {{businessHoursService.TimeToString(hour.intervalStart)}} - {{businessHoursService.TimeToString(hour.intervalEnd)}}
                        }
                    </span>
                }
            } @else {
                <span class="text-[14px] text-goldenDark bg-[#2A2A2A] p-1 pl-2 pr-2 rounded shadow-[2px_2px_4px_-1px_#111111]">Closed</span>
            }
        </div>
    }
</div>