<div (click)="GoToBusiness()" class="cursor-pointer relative h-fit min-h-[7rem] rounded text-white font-arial mt-4 ml-4 mr-4 grid 
grid-rows-[2rem_3rem_0.5rem_1fr] grid-cols-[5rem_1fr] bg-[#414141] shadow-[2px_2px_4px_0px_#11111155] overflow-hidden">
    <div class="col-start-1 row-start-1 row-span-2 z-[1] w-[5rem] h-[5rem] bottom-0 relative bg-[#414141] border-b border-r border-[#DDB06C] rounded-br-[5rem] shadow-[1px_1px_2px_1px] shadow-golden">
        <Icon size="3.5rem" class="text-goldenDark" type="store"/>
    </div>
    <div class="row-start-1 max-w-[72%] p-2 relative pl-0 rounded-br-[5rem] rounded-tl text-[#262626] col-start-1 col-span-2 pl-[5rem] bg-golden shadow-[1px_1px_2px_1px] shadow-golden flex items-center w-fit max-w-[95%]">
        <span class="pl-2 pr-2 truncate">{{businessName}}</span>
    </div>
    <div class="row-start-3 text-[12px] row-start-4 col-start-1 col-span-2 h-full w-[72%] bg-[#414141] pt-2 pl-2 pb-2">
        {{businessDescription}}
    </div>
    <div class="z-[2] absolute bottom-0 right-0 w-[5rem] h-[5rem] border-t border-l border-[#DDB06C] rounded-tl-[5rem] shadow-[-1px_-1px_2px_1px] shadow-golden"></div>
    <div class="z-0 absolute bottom-0 right-0 w-[3rem] h-[3rem] border-t border-l border-[#DDB06C] rounded-tl-[5rem] shadow-[-1px_-1px_2px_1px] shadow-golden"></div>
</div>