<CardBase minHeight="3rem" cardIcon="edit" [heading]="isInEditMode ? 'Edit ' + serviceName : serviceName">
    @if (isInEditMode) {
        <form [formGroup]="editServiceForm" class="pl-2 pb-2 grid gap-y-2 max-w-[70%]" method="post" (submit)="Edit($event)" cardForm>
            <div class="grid">
                <label for="name-field">
                    Name:
                    @if (editServiceForm.controls.Name.hasError('required') && editServiceForm.dirty) {
                        <span class="text-[0.8rem] text-red-600">Field is required</span>
                    }
                </label>
                <input class="rounded text-black pl-2" name="name-field" formControlName="Name">
            </div>
            <div class="grid">
                <label for="description-field">
                    Description:
                </label>
                <textarea class="rounded text-black pl-2 h-[5rem]" name="description-field" formControlName="Description"></textarea>
            </div>
            <div class="flex items-center">
                <div>Icon:</div>
                <div class="ml-2 w-fit p-[2px] border rounded-lg text-goldenDark border-goldenDark cursor-default">
                    <Icon [type]="serviceIcon"/>
                </div>
            </div>
            <div>
                <label for="price-field">
                    Price:
                </label>
                <input type="number" class="rounded text-black pl-2 w-[4rem]" name="name-field" formControlName="Price">
            </div>
            <div class="grid">
                <label for="duration-field">
                    Duration:
                    @if (editServiceForm.controls.Duration.hasError('required') && editServiceForm.dirty) {
                        <span class="text-[0.8rem] text-red-600">Invalid value</span>
                    }
                </label>
                <div>
                    <input type="number" class="rounded text-black pl-2 w-[3.5rem]" name="name-field" formControlName="Duration"> minutes
                </div>
            </div>
            <div class="flex items-center">
                <label for="category-field">Category:</label>
                <select class="w-full h-[1.5rem] rounded text-black ml-1 pl-2 bg-white" formControlName="Category">
                    <option></option>
                    @for (category of servicesService.GetAllCategories(); track category.id) {
                        <option [value]="category.id">{{category.name}}</option>
                    }
                </select>
            </div>
            <div class="grid pt-2 grid-cols-[auto_auto] gap-x-4 items-center w-fit">
                <MainButton [disabled]="!editServiceForm.valid || editServiceForm.controls.Name.value === serviceName">
                    Edit
                </MainButton>
                <SecondaryButton [OnClick]="LeaveEditMode.bind(this)">
                    Cancel
                </SecondaryButton>
            </div>
        </form>
    } @else {
        <div class="pl-2 pb-2 grid gap-y-2">
            <div class="grid items-center max-w-[70%]">
                <div>Description:</div>
                <div class="p-[4px] pl-2 rounded-md break-all bg-[#393939] text-[0.8rem] cursor-default">
                    {{serviceDescription}}
                </div>
            </div>
            <div class="flex items-center">
                <div>Icon:</div>
                <div class="ml-2 p-[2px] border rounded-lg text-goldenDark border-goldenDark cursor-default">
                    <Icon [type]="serviceIcon"/>
                </div>
            </div>
            <div class="flex items-center">
                <Icon type="schedule"/>
                <div class="pl-1">{{GetDurationString()}}</div>
            </div>
            <div class="flex items-center">
                <div>Category:</div>
                <div class="pl-1 truncate max-w-[12.3rem]">
                    @if (serviceCategory === null) {
                        <span class="text-gray-300">None</span>
                    } @else {
                        {{servicesService.GetServiceCategoryName(serviceCategory)}}
                    }
                </div>
            </div>
            <div class="absolute top-0 right-0 h-[2rem] flex items-center pr-2">
                R${{servicePrice?.toFixed(2)?.replace('.', ',') ?? ""}}
            </div>
        </div>
    }
</CardBase>