<div class="flex justify-center">
    <div class="grid grid-cols-[auto_auto_auto] h-[7.5rem] items-center w-fit sm:max-w-[90%] select-none">
        <Icon size="2.2rem" type="keyboard_arrow_left" #arrowLeft/>
        <div class="w-fit h-full overflow-x-hidden">
            <div class="w-full h-[7.5rem] flex items-center gap-x-2 overflow-x-scroll overflow-y-visible pl-2 pr-2" #employeesWrapper>
                @for (employee of businessEmployees; track employee.id) {
                    <EmployeeCard [employee]="employee" (Selected)="OnEmployeeSelect($event)"/>
                }
            </div>
        </div>
        <Icon size="2.2rem" type="keyboard_arrow_right" #arrowRight/>
    </div>
</div>