ScheduleAppFrontend/.angular
ScheduleAppFrontend/.vscode
ScheduleAppFrontend/node_modules
ScheduleAppFrontend/dist

ScheduleAppBackend/obj
ScheduleAppBackend/bin
ScheduleAppBackend/.vs
ScheduleAppBackend/Migrations/Locations
ScheduleAppBackend/appsettings.Development.json
ScheduleAppBackend/appsettings.json
ScheduleAppBackend.csproj.user