<h2 class="flex gap-x-2 items-center text-goldenDark 
ml-4 text-[1.3rem] mb-[0.5rem] mr-4 mt-4 sm:justify-center">
    <Icon type="schedule"/>
    <div class="w-fit">My Appointments</div>
</h2>
<div class="mt-4 mb-4 grid gap-4 sm:justify-center" #card>
    @for (appointment of appointments; track appointment.id) {
        <AppointmentCard [serviceIcon]="'cut'" [serviceName]="appointment.serviceName" [businessName]="appointment.businessName"
            [appointmentTime]="appointment.time" [employeeName]="appointment.employeeName" [servicePrice]="appointment.price" 
            [serviceDuration]="appointment.duration"/>
    }
</div>