<div class="flex justify-center">
    <Heading>
        <span class="text-[1.7rem]">
            Appointments
        </span>
    </Heading>
</div>
<div class="mt-4 mb-4 grid gap-4 sm:justify-center" #card>
    <div class="grid grid-cols-2 text-[#DDDDDD] text-[0.8rem]">
        <div class="flex items-center justify-self-start gap-x-1">
            <span class="uppercase">
                From
            </span>
            <DateInput [formControl]="filterForm.controls.StartDate" [minValue]="startDateMinValue"/>
        </div>
        <div class="flex items-center justify-self-end gap-x-1">
            <span class="uppercase">
            To
            </span>
            <DateInput [formControl]="filterForm.controls.EndDate" [minValue]="filterForm.controls.StartDate.value"/>
        </div>
    </div>
    @for(appointment of filteredAppointments; track appointment.id) {
        <AppointmentCard [serviceName]="appointment.serviceName" [appointmentTime]="appointment.time"
        [businessName]="appointment.businessName" [employeeName]="appointment.employeeName"
        [serviceDuration]="appointment.duration" [servicePrice]="appointment.price"/>
    }
</div>