<div [style]="{display: visible() ? 'block' : 'none'}" id="notification-panel" class="z-10 absolute pl-4 pr-4 w-[22rem] h-[35rem] text-goldenDark 
rounded bg-[#333333] shadow-[2px_2px_5px_1px_#11111155] right-0 top-16 cursor-default overflow-x-hidden overflow-y-scroll">
@defer (when visible()) {    
    @if(notifications !== null) {
        @if (notifications.length === 0) {
            <div class="grid grid-rows-[auto_1fr] h-[5rem] justify-items-center pt-4">
                <Icon size="3.5rem" class="rotate-[-20deg]" type="notifications_active"/>
                <div class="text-center">
                    <h3 class="text-[1.8rem]">Nothing to see here</h3>
                    <p class="text-[0.8rem] text-[#DDDDDDFF]">We'll let you know when that changes.</p>
                </div>
            </div>
        }
        @for (notification of notifications; track notification.id) {
            @if (type === NotificationType.USER_NOTIFICATION) {
                <NotificationItem [heading]="notification.heading" [visualized]="notification.wasVisualized" [notificationId]="notification.id" (Close)="OnNotificationClose($event)">
                    <p class="text-[#DDDDDDFF] text-[0.8rem]">{{notification.message.split('\t')[0]}}</p>
                    <div class="bottom-content">
                        <p class="text-[#DDDDDDFF] text-[0.8rem]">{{Time.DateTimeToString(ParseInt(notification.message.split('\t')[1]), false)}}</p>
                    </div>
                </NotificationItem>    
            } @else {
                <NotificationItem [heading]="notification.heading" [visualized]="notification.wasVisualized" [notificationId]="notification.id" (Close)="OnNotificationClose($event)">
                    <p class="text-[#DDDDDDFF] text-[0.8rem]">{{notification.message.split('\t')[0]}} | {{notification.message.split('\t')[1]}}</p>
                    <div class="bottom-content">
                        <p class="text-[#DDDDDDFF] text-[0.8rem]">{{Time.DateTimeToString(ParseInt(notification.message.split('\t')[2]), false)}}</p>
                    </div>
                </NotificationItem>    
            }
        }
    }
}
</div>
