<div class="flex justify-center">
    <Heading>
        <span class="text-[1.7rem]">
            Categories
        </span>
    </Heading>
</div>
<div class="grid pt-4 pb-4 gap-y-4 sm:justify-center" #card>
    <CardBase cardIcon="add" heading="Add Category">
        <form [formGroup]="addCategoryForm" class="pl-2 pb-2 grid gap-y-1 max-w-[70%]" method="post" (submit)="AddCategory($event)">
            <label>
                Name:
                @if (addCategoryForm.controls.Name.hasError('required') && addCategoryForm.dirty) {
                    <span class="text-[0.8rem] text-red-600">Field is required</span>
                }
            </label>
            <FormInput formControlName="Name"/>
            <MainButton class="pt-2" [disabled]="!addCategoryForm.valid">
                Add
            </MainButton>
        </form>
    </CardBase>
    @for(category of categories; track category.id) {
        <EditableCategoryCard [categoryId]="category.id" [categoryName]="category.name" (Edited)="OnCategoryEdit($event)" (Deleted)="OnCategoryDelete($event)"/>
    }
</div>
<div class="flex justify-center">
    <Heading>
        <span class="text-[1.7rem]">
            Services
        </span>
    </Heading>
</div>
<div class="grid pt-4 pb-4 gap-y-4 sm:justify-center" #card>
    <CardBase [cardIcons]="['add']" heading="Add Service">
        <form [formGroup]="addServiceForm" class="h-[21.38rem] overflow-hidden pl-2 pb-2 grid gap-y-1 max-w-[75%]" method="post" (submit)="AddService($event)">
            <div>
                <label>
                    Name:
                    @if (addServiceForm.controls.Name.hasError('required') && addServiceForm.dirty) {
                        <span class="text-[0.8rem] text-red-600">Field is required</span>
                    }
                </label>
                <FormInput formControlName="Name"/>
            </div>
            <div class="grid">
                <label>
                    Description:
                </label>
                <FormInput type="textarea" formControlName="Description"/>
            </div>
            <div class="flex items-center overflow-visible z-[10]">
                <div>Icon:</div>
                <IconInput formControlName="Icon" class="ml-2"/>
            </div>
            <div class="flex gap-x-1 items-center">
                <label>
                    Price:
                </label>
                <div class="w-[4rem]">
                    <FormInput type="price" formControlName="Price"/>
                </div>
            </div>
            <div class="flex gap-x-1 items-center">
                <label>
                    Duration:
                </label>
                <div class="w-[3.5rem]">
                    <FormInput type="number" [numberAllowDecimal]="false" formControlName="Duration"/>
                </div>
                minutes
            </div>
            <div class="flex items-center">
                <label class="pr-1">Category:</label>
                <FormInput type="select" formControlName="Category">
                    @for(category of categories; track category.id) {
                        <option [value]="category.id">{{category.name}}</option>
                    }
                </FormInput>
            </div>
            <MainButton class="pt-2" [disabled]="!addServiceForm.valid">
                Add
            </MainButton>
        </form>
    </CardBase>
    @for (service of services; track service.id) {
        <EditableServiceCard (Edited)="OnServiceEdited($event)" (Deleted)="OnServiceDeleted($event)" [serviceId]="service.id" [serviceName]="service.name" [serviceDuration]="service.duration" 
        [categories]="categories" [serviceIcon]="service.icon" [servicePrice]="service.price" [serviceDescription]="service.description" [serviceCategory]="service.categoryId"/>
    }
</div>
