<div [style]="{minHeight}" class="relative h-fit rounded text-white font-arial mt-4 ml-4 mr-4 grid grid-rows-[2rem_0.5rem_1fr] bg-[#414141] shadow-[2px_2px_4px_0px_#11111155] overflow-x-hidden">
    <div class="row-start-1 h-[2rem] max-w-[72%] p-2 rounded-br-[5rem] rounded-tl text-[#262626] col-start-1 bg-golden shadow-[1px_1px_2px_1px] shadow-golden flex items-center w-fit max-w-[90%]">
        @for (icon of cardIcons; track icon) {
            <Icon [type]="icon"/>
        }
        <span class="pl-2 pr-2 truncate">{{heading}}</span>
    </div>
    <div class="row-start-3 col-start-1 bg-[#414141]">
        <ng-content/>
    </div>
    <div class="z-[2] absolute bottom-0 right-0 w-[5rem] h-[5rem] border-t border-l border-[#DDB06C] rounded-tl-[5rem] shadow-[-1px_-1px_2px_1px] shadow-golden"></div>
    <div class="z-0 absolute bottom-0 right-0 w-[3rem] h-[3rem] border-t border-l border-[#DDB06C] rounded-tl-[5rem] shadow-[-1px_-1px_2px_1px] shadow-golden"></div>
</div>