@if (business() === null) {
    <div class="pt-6 flex flex-col items-center">
        <div class="grid grid-cols-[auto_1fr] items-center justify-items-center mb-[2rem] w-full">
            <button class="text-[#DDDDDD] hover:text-white ml-8 col-start-1 row-start-1" (click)="GoToProfile()">
                <Icon size="32px" type="keyboard_arrow_left"/>
            </button>
            <Heading class="col-start-1 col-span-2 row-start-1">Business Setup</Heading>
        </div>
        <form [formGroup]="businessSetupForm" class="grid w-[17rem] grid-cols-1" method="post" (submit)="SetupBusiness($event)">
            <label class="text-white mb-2">
                Name:
                @if (this.businessSetupForm.controls.Name.hasError('required') && this.businessSetupForm.dirty) {
                    <span class="pl-2 text-red-600 text-[0.9rem]">Field is required</span>
                }
            </label>
            <FormInput formControlName="Name"/>
            <label class="text-white mb-2">Description:</label>
            <FormInput type="textarea" formControlName="Description"/>
            <label class="text-white mb-2">Address</label>
            <FormInput formControlName="Address"/>
            <div class="grid grid-cols-[1fr_1fr] w-full grid-rows-2 gap-x-4 pb-4">
                <div class="row-start-1 col-start-1 w-full">
                    <label class="text-white mb-2">Number</label>
                    <FormInput type="number" [numberAllowDecimal]="false" formControlName="Number"/>
                </div>
                <div class="row-start-1 col-start-2 w-full">
                    <label class="text-white mb-2">Country</label>
                    <FormInput type="select" formControlName="Country">
                        @for (country of countries; track country.isoCode) {
                            <option [value]="country.isoCode">{{country.name}}</option>
                        }
                    </FormInput>
                </div>
                <div class="row-start-2 col-start-1 w-full">
                    <label class="text-white mb-2">State</label>
                    <FormInput type="select" formControlName="State">
                        @for (state of states; track state.code) {
                            <option [value]="state.code">{{state.name}}</option>
                        }
                    </FormInput>
                </div>
                <div class="row-start-2 col-start-2 w-full">
                    <label class="text-white mb-2">City</label>
                    <FormInput type="select" formControlName="City">
                        @for (city of cities; track city.id) {
                            <option [value]="city.id">{{city.name}}</option>
                        }
                    </FormInput>
                </div>
            </div>
            <div class="justify-self-center">
                <MainButton [disabled]="!businessSetupForm.valid">
                    Setup
                </MainButton>
            </div>
        </form>
    </div>
} @else if (business() !== undefined) {
    <div class="pt-6 pb-6 sm:flex sm:flex-col sm:items-center">
        <div class="grid grid-cols-[auto_1fr] items-center justify-items-center w-full">
            <button class="text-[#DDDDDD] self-start hover:text-white ml-8 col-start-1 row-start-1" (click)="GoToProfile()">
                <Icon size="32px" type="keyboard_arrow_left"/>
            </button>
            <div class="pl-4 sm:pl-0 pr-4 pb-4 grid grid-cols-[auto_1fr] grid-rows-[1fr_auto] col-start-1 col-span-2 row-start-1 w-screen sm:max-w-[30rem]">
                <div class="border-4 border-goldenDark text-goldenDark w-[6rem] h-[6rem] flex items-center justify-center rounded-[50%]">
                    <Icon size="4.5rem" type="store"/>
                </div>
                <div class="relative font-arial pl-4 pt-2">
                    <div class="text-goldenDark text-[1.4rem]">
                        {{business()!.name}}
                    </div>
                    <div class="text-gray-200 text-[0.8rem]">
                        {{business()!.description}}
                    </div>
                    @if (allowEdit) {
                        <div id="notification-button" class="absolute select-none top-6 right-0 text-goldenDark hover:text-goldenLight cursor-pointer" (click)="ToggleNotificationsDisplay()">
                            <Icon size="2rem" type="notifications"/>
                            @if (business()!.hasUnseenNotifications) {
                                <div class="w-2 h-2 bg-goldenLight rounded absolute right-1 bottom-1"></div>
                            }
                        </div>
                    }
                    <NotificationsPanel [type]="NotificationType.BUSINESS_NOTIFICATION"/>
                </div>
                <div class="pl-2 mt-2 text-gray-200 text-[0.7rem] flex items-center gap-x-1 col-span-2">
                    <Icon type="location_on"/>
                    {{business()!.address}}, {{business()!.addressNumber}} - {{cityName()}}, {{stateName()}}-{{business()!.countryCode}}
                </div>
                @if (allowEdit) {
                    <div class="pl-4 pt-4 pb-4">
                        <MainButton (Click)="GoToDashboard()">Dashboard</MainButton>
                    </div>
                }
            </div>
        </div>
        <div class="sm:max-w-[30rem]">
            <h2 class="grid grid-rows-1 items-center grid-cols-[auto_1fr_auto] text-goldenDark ml-4 text-[1.3rem] mb-[0.5rem] mr-4">
                <div class="justify-start w-fit">All Services</div>
                @if (allowEdit) {
                    <button class="col-start-3" (click)="GoToEditServices()">
                        <Icon type="edit"/>
                    </button>
                }
            </h2>
            <div class="grid gap-y-4">
                @for (category of categories(); track category.id) {
                    <MinimizableCard [header]="category.name">
                        <div class="pb-6 pt-6 grid gap-4 overflow-y-scroll" #card>
                            @for (service of GetServicesInCategory(category.id); track service.id) {
                                <BusinessServiceCard (Click)="OnServiceClick($event)" [serviceName]="service.name" [serviceDescription]="service.description"
                                [servicePrice]="service.price" [serviceDuration]="service.duration" [serviceId]="service.id" [canSchedule]="!allowEdit"/>
                            }
                        </div>
                    </MinimizableCard>
                }
                @if (HasServiceWithNoCategory()) {
                    <MinimizableCard header="Others">
                        <div class="pb-6 pt-6 grid gap-4 w-screen overflow-y-scroll" #card>
                            @for (service of GetServicesInCategory(null); track service.id) {
                                <BusinessServiceCard (Click)="OnServiceClick($event)" [serviceName]="service.name" [serviceDescription]="service.description"
                                [servicePrice]="service.price" [serviceDuration]="service.duration" [serviceId]="service.id" [canSchedule]="!allowEdit"/>
                            }
                        </div>
                    </MinimizableCard>
                }
            </div>
            <h2 class="grid grid-rows-1 items-center grid-cols-[auto_1fr_auto] text-goldenDark ml-4 text-[1.3rem] mb-[0.5rem] mr-4 mt-4">
                <div class="justify-start w-fit">Opening Hours</div>
                @if (allowEdit) {
                    <button class="col-start-3" (click)="GoToEditHours()">
                        <Icon type="edit"/>
                    </button>
                }
            </h2>
            <div class="pt-2" #card>
                <CardBase [cardIcons]="['schedule']">
                    <div class="pl-3 pt-2 w-[87%] h-full pb-2 text-[14px]">
                        <OpeningHoursDisplay [hours]="openingHours"/>   
                    </div>
                </CardBase>
            </div>
        </div>
    </div>
    }