<div class="grid grid-cols-[auto_1fr_auto] h-[4.5rem] items-center w-screen select-none">
    <Icon size="2.2rem" type="keyboard_arrow_left" #arrowLeft/>
    <div class="w-full h-full overflow-hidden">
        <div class="w-full h-[4.5rem] flex gap-x-2 overflow-x-scroll" #dayWrapper>
            @for (date of dates(); track date.getDate()) {
                <ScheduleDayInput [date]="date" (Selected)="OnDaySelect($event)"/>
            }
        </div>
    </div>
    <Icon size="2.2rem" type="keyboard_arrow_right" #arrowRight/>
</div>
<div id="this-one" class="overflow-hidden" #hoursWrapper>
@if (selectedHour === null) {

    <div class="min-h-[50px] pl-2 pr-2 pt-6 grid grid-cols-[auto_1fr] items-center gap-4">
        <Icon type="partly_cloudy_day"/>
        <div class="flex flex-wrap pt-2 gap-2 items-center text-[#DDDDDD]">
            @if (availableTimes.morning.length !== 0) {
                
                @for (time of availableTimes.morning; track time) {
                    <ScheduleHourInput (Selected)="OnHourSelect($event)" [time]="time"/>
                }
            } @else {
                We are not available at this time
            }
        </div>
    </div>
    <div class="min-h-[50px] pl-2 pr-2 pt-2 grid grid-cols-[auto_1fr] items-center gap-4">
        <Icon type="sunny"/>
        <div class="flex flex-wrap pt-2 gap-2 items-center text-[#DDDDDD]">
            @if (availableTimes.afternoon.length !== 0) {
                @for (time of availableTimes.afternoon; track time) {
                    <ScheduleHourInput (Selected)="OnHourSelect($event)" [time]="time"/>
                }
            } @else {
                We are not available at this time
            }
        </div>
    </div>
    <div class="min-h-[50px] pl-2 pr-2 pt-2 grid grid-cols-[auto_1fr] items-center gap-4">
        <Icon type="partly_cloudy_night"/>
        <div class="flex flex-wrap pt-2 gap-2 items-center text-[#DDDDDD]">
            @if (availableTimes.night.length !== 0) {
                
                @for (time of availableTimes.night; track time) {
                    <ScheduleHourInput (Selected)="OnHourSelect($event)" [time]="time"/>
                }
            } @else {
                We are not available at this time
            }
        </div>
    </div>
    <div class="min-h-[50px] pl-2 pr-2 pt-2 grid grid-cols-[auto_1fr] items-center gap-4">
        <Icon type="bedtime"/>
        <div class="flex flex-wrap pt-2 gap-2 items-center text-[#DDDDDD]">
            @if (availableTimes.dawn.length !== 0) {
                @for (time of availableTimes.dawn; track time) {
                    <ScheduleHourInput (Selected)="OnHourSelect($event)" [time]="time"/>
                }
            } @else {
                We are not available at this time
            }
        </div>
    </div>
} @else {
    <div>
        <div class="pl-2 pr-2 pt-6 flex items-center gap-x-2 pb-4">
            <div class="">Selected time:</div>
            <div (click)="UnselectHour()" class="cursor-pointer bg-goldenDark text-[#000000] shadow-[2px_2px_2px_0px_#DDB06C] 
            rounded font-semibold w-[3.5rem] h-[2rem] flex items-center justify-center select-none">{{Time.HourToString(selectedHour.time)}}</div>
        </div>
        <ScheduleEmployeeInput [businessId]="business?.id ?? ''" (Selected)="OnEmployeeSelected($event)"/>
        <div style="display: none;" class="pt-4" #confirmationCard>
            <CardBase [cardIcons]="['schedule']" heading="Confirm Appointment?">
                <div class="h-full pl-2 pb-2 pt-1 grid gap-y-2 text-[#DDDDDD]">
                    <div class="flex items-center gap-x-1">
                        <Icon type="location_on"/>
                        {{business?.name}}
                    </div>
                    <div class="flex items-center gap-x-1">
                        <Icon type="person"/>
                        {{selectedEmployee?.firstName}}
                    </div>
                    <div class="flex items-center gap-x-1">
                        <Icon type="cut"/>
                        {{service?.name}}
                    </div>
                    <div class="flex items-center gap-x-1">
                        <Icon type="schedule"/>
                        {{Time.HourToString(selectedHour.time)}}
                    </div>
                    <div class="flex items-center gap-x-1">
                        <Icon type="payments"/>
                        R${{service?.price?.toFixed(2)?.replace('.', ',') ?? "0,00"}}
                    </div>
                    <div class="flex items-center gap-x-4">
                        <MainButton [OnClick]="ConfirmAppointment.bind(this)">
                            Confirm
                        </MainButton>
                        <SecondaryButton [OnClick]="Cancel.bind(this)">
                            Cancel
                        </SecondaryButton>
                    </div>
                </div>
            </CardBase>
        </div>
    </div>
}
</div>
