<header class="grid sm:hidden h-[3.5rem] font-arial bg-[#151515] shadow-[0px_-1px_2px_0px_#050505] relative z-[20] items-center grid-cols-3">
    <button class="justify-self-center text-white" (click)="GoToBusinesses()">
        <Icon type="work"/>
    </button>
    <button class="justify-self-center text-white" (click)="GoToHome()">
        <Icon type="home"/>
    </button>
    <button class="justify-self-center text-white relative" (click)="GoToProfile()">
        <Icon type="person"/>
        @if (authService.GetLoggedUser()?.hasUnseenNotifications || authService.GetLoggedBusiness()?.hasUnseenNotifications) {
            <div class="w-2 h-2 bg-goldenLight rounded absolute bottom-0 right-0"></div>
        }
    </button>
</header>
<header class="hidden sm:grid h-[3.5rem] font-arial bg-[#151515] shadow-[0px_-1px_2px_0px_#050505] relative z-[20] 
items-center grid-cols-[auto_1fr_auto] text-goldenDark *:cursor-pointer">
    <div class="flex text-[1.5rem] h-full pl-6 pr-4">
        <button class="flex gap-x-1 items-center hover:text-goldenLight" (click)="GoToHome()">
            <Icon size="1.8rem" type="store"/>
            Scheduly
        </button>
    </div>
    <div class="justify-self-center text-[14px] font-medium inline-flex h-full gap-x-8
    *:hover:text-goldenLight *:transition-all *:ease-linear *:duration-200">
        <button class="uppercase relative hover:scale-[1.2] flex items-center justify-center" (click)="GoToHome()" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
            <div class="w-fit">
                Home
                <div style="width: 0;" class="menu-item-decorator h-[3px] bg-goldenLight"></div>
            </div>
        </button>
        <button class="uppercase hover:scale-[1.2] flex items-center justify-center" (click)="GoToBusinesses()" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
            <div class="w-fit">
                Businesses
                <div style="width: 0;" class="menu-item-decorator h-[3px] bg-goldenLight"></div>
            </div>
        </button>
        <button class="uppercase hover:scale-[1.2] flex items-center justify-center" (click)="GoToBusiness()" (mouseenter)="OnMouseEnter($event)" (mouseleave)="OnMouseLeave($event)">
            <div class="w-fit">
                My Business
                <div style="width: 0;" class="menu-item-decorator h-[3px] bg-goldenLight"></div>
            </div>
        </button>
    </div>
    <button class="justify-self-end hover:text-goldenLight text-[18px] flex items-center gap-x-1 pr-6 pl-4 h-full" (click)="GoToProfile()">
        <Icon size="28px" type="person"/>
    </button>
</header>