@if (service() !== null && business() !== null) {
<div class="text-white grid w-screen pt-6 gap-y-6 justify-items-center">
    <div class="grid grid-cols-[auto_1fr] w-full items-center justify-items-center">
        <div (click)="GoBack()" class="cursor-pointer col-start-1 row-start-1 pl-2">
            <Icon size="2.5rem" type="keyboard_arrow_left"/>
        </div>
        <div class="col-start-1 row-start-1 col-span-2">
            <Heading>Schedule</Heading>
        </div>
    </div>
    <div class="flex flex-col items-center justify-center pb-4">
        <div class="w-screen sm:flex sm:justify-center" #card>
            <BusinessServiceCard [serviceId]="service()!.id" [serviceName]="service()!.name" [serviceIcon]="service()!.icon" 
            [serviceDescription]="service()!.description" [servicePrice]="service()!.price" [serviceDuration]="service()!.duration" 
            [canSchedule]="false" [showButton]="false"/>
        </div>
    </div>
    <ScheduleInput [service]="service()!" [business]="business()!"/>    
</div>
}
