<div class="grid grid-cols-[3rem_1fr] pt-4 text-[#DDDDDD] items-center">
    <button class="col-start-1 row-start-1 justify-self-end hover:text-white" (click)="GoToProfile()">
        <Icon size="2.5rem" type="keyboard_arrow_left" #backIcon/>
    </button>
    <Heading class="col-start-1 row-start-1 col-span-2 justify-self-center">
        History
    </Heading>
</div>
<div class="mt-4 mb-4 grid gap-4 sm:justify-center" #card>
    <div class="grid grid-cols-2 text-[#DDDDDD] text-[0.8rem]">
        <div class="flex items-center justify-self-start gap-x-1">
            <span class="uppercase">
                From
            </span>
            <DateInput [formControl]="filterForm.controls.StartDate"/>
        </div>
        <div class="flex items-center justify-self-end gap-x-1">
            <span class="uppercase">
            To
            </span>
            <DateInput [formControl]="filterForm.controls.EndDate" [minValue]="filterForm.controls.StartDate.value"/>
        </div>
    </div>
    @for (appointment of filteredAppointments; track appointment.id) {
        <AppointmentCard [serviceName]="appointment.serviceName" [businessName]="appointment.businessName" [servicePrice]="appointment.price"
        [appointmentTime]="appointment.time" [employeeName]="appointment.employeeName" [serviceDuration]="appointment.duration"/>
    }
</div>