<div class="grid justify-items-center gap-y-4 pt-4">
    <Heading>
        Edit
    </Heading>
    <MinimizableCard header="Categories">
        <CardBase cardIcon="add" heading="Add Category">
            <form [formGroup]="addCategoryForm" class="pl-2 pb-2 grid gap-y-1 max-w-[70%]" method="post" (submit)="AddCategory($event)">
                <label for="name-field">
                    Name:
                    @if (addCategoryForm.controls.Name.hasError('required') && addCategoryForm.dirty) {
                        <span class="text-[0.8rem] text-red-600">Field is required</span>
                    }
                </label>
                <input class="rounded text-black pl-2" name="name-field" formControlName="Name">
                <MainButton class="pt-2" [disabled]="!addCategoryForm.valid">
                    Add
                </MainButton>
            </form>
        </CardBase>
        @for(category of servicesService.GetAllCategories(); track category.id) {
            <EditableCategoryCard [categoryId]="category.id" [categoryName]="category.name"/>
        }
    </MinimizableCard>
    <MinimizableCard header="Services">
        <CardBase cardIcon="add" heading="Add Service">
            <form [formGroup]="addServiceForm" class="pl-2 pb-2 grid gap-y-1 max-w-[70%]" method="post" (submit)="AddService($event)">
                <div>
                    <label for="name-field">
                        Name:
                        @if (addServiceForm.controls.Name.hasError('required') && addServiceForm.dirty) {
                            <span class="text-[0.8rem] text-red-600">Field is required</span>
                        }
                    </label>
                    <input class="mt-1 rounded text-black" name="name-field" formControlName="Name">
                </div>
                <div class="grid">
                    <label for="description-field">
                        Description:
                    </label>
                    <textarea class="rounded text-black pl-2 h-[5rem]" name="description-field" formControlName="Description"></textarea>
                </div>
                <div class="flex items-center">
                    <div>Icon:</div>
                    <div class="ml-2 w-fit p-[2px] border rounded-lg text-goldenDark border-goldenDark cursor-default">
                        <Icon type="visibility"/>
                    </div>
                </div>
                <div>
                    <label for="price-field">
                        Price:
                    </label>
                    <input type="number" class="rounded text-black pl-2 w-[4rem]" name="name-field" formControlName="Price">
                </div>
                <div>
                    <label for="duration-field">
                        Duration:
                    </label>
                    <input type="number" class="rounded text-black pl-2 w-[3.5rem]" name="name-field" formControlName="Duration"> minutes
                </div>
                <div class="flex items-center">
                    <label for="category-field">Category:</label>
                    <select class="w-full h-[1.5rem] rounded text-black ml-1 pl-2 bg-white" formControlName="Category">
                        <option></option>
                        @for(category of servicesService.GetAllCategories(); track category.id) {
                            <option [value]="category.id">{{category.name}}</option>
                        }
                    </select>
                </div>
                <MainButton class="pt-2" [disabled]="!addServiceForm.valid">
                    Add
                </MainButton>
            </form>
        </CardBase>
        @for (service of servicesService.GetAllServices(); track service.id) {
            <EditableServiceCard [serviceId]="service.id" [serviceName]="service.name" [serviceDuration]="service.duration" 
            [servicePrice]="service.price" [serviceDescription]="service.description" [serviceCategory]="service.categoryId"/>
        }
    </MinimizableCard>
</div>