@defer (when visible()) {
    <ul id="profile-menu" [style]="{display: visible() ? 'block' : 'none'}" class="absolute top-[2.7rem] z-20 right-6 rounded text-goldenDark font-arial bg-[#333333] shadow-[2px_2px_5px_1px_#11111155]">
        <li class="p-4 flex cursor-pointer gap-x-1 hover:text-goldenLight hover:bg-[#3A3A3A] rounded-tr rounded-tl" (click)="GoToProfile()">
            <Icon type="person"/>
            Profile
        </li>
        <li class="p-4 flex cursor-pointer gap-x-1 hover:text-goldenLight hover:bg-[#3A3A3A]" (click)="GoToHistory()">
            <Icon type="schedule"/>
            History
        </li>
        <li class="p-4 flex cursor-pointer gap-x-1 hover:text-goldenLight hover:bg-[#3A3A3A]" (click)="GoToBusiness()">
            <Icon type="store"/>
            @if (authService.GetLoggedBusiness() === null) {
                Setup Business
            } @else {
                My Business
            }
        </li>
        <li class="p-4 flex cursor-pointer gap-x-1 hover:text-goldenLight hover:bg-[#3A3A3A] rounded-br rounded-bl" (click)="Logout()">
            <Icon type="logout"/>
            Logout
        </li>
    </ul>
}