<CardBase heading="Corte Tradicional">
    <div class="grid auto-rows-[1.6rem] h-[5.7rem] pl-2 relative">
        <div class="row-start-1">
            Corte normal mesmo :^)
        </div>
        <div class="flex items-center gap-1">
            <Icon size="20px" type="schedule"/>
            <div>30 minutes</div>
        </div>
        <div class="h-[2rem] flex items-center absolute top-[-2.5rem] right-0 pr-4">
            R$30,00
        </div>
        <MainButton class="mt-1">Schedule</MainButton>
    </div>
</CardBase>